@font-face {
    font-family: custom;
    src: url(../assets/css/Raleway-Light.ttf);
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 0px;

    text-align: center;
}

h1 {
    color: rgba(25, 61, 86, 1);
    font-family: custom;
}

h3 {
    color: rgba(25, 61, 86, 1);
    font-family: custom;
}

.inputText {
    position: relative;
    display: block;
    width: calc(75% - 1em);
    height: 1.2em;
    padding-right: 1em;
    border: none;
    border-bottom: 2px solid rgba(25, 61, 86, 0.5);
    border-radius: 0px;
    font-family: custom;
    font-size: 1.5em;
    color: rgba(25, 61, 86, 0.75);
    background-color: rgba(0, 0, 0, 0);
    
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    overflow: auto;
    background-position: right;
}

.inputText:focus {
    outline: none;
    border-bottom: 2px solid rgba(25, 61, 86, 1);
    color: rgba(25, 61, 86, 1);                
}

.inputTextGood {
    background: url(../assets/img/checkmark.png) no-repeat;
    background-size: auto 1em;
    background-position: right;
}

.inputTextGoodLarge {
    background: url(../assets/img/checkmark.png) no-repeat;
    background-size: auto 1em;
    background-position: right;
    
    height: 5em;
    resize: none;
    width: 100%;
}

textarea[class='inputText'] {
    height: 5em;
    resize: none;
    width: 100%;
}

.short {
    width: calc(50% - 1em);
}

.middle {
    margin: 0 auto;
}

.check {
    position: relative;
    font-family: custom;
    font-size: 1.5em;
    color: rgba(25, 61, 86, 0.25);
    margin: 5px 20px;
    margin-top: 0px;
    padding: 0px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
    cursor: hand;

    -webkit-user-select: none;  
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;  

    -webkit-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -moz-transition: color 0.25s;
    transition: color 0.25s;
}

#lastcheck {
    margin-bottom: 1em;
}

.button {
    position: relative;
    border: 2px solid rgba(25, 61, 86, 0.5);
    background-color: white;
    font-family: custom;
    font-size: 1.5em;
    margin: 10px auto;
    color: rgba(25, 61, 86, 0.5);
    background-color: rgba(0, 0, 0, 0);
    
    -webkit-transition: border 0.25s, color 0.25s;
    -ms-transition: border 0.25s, color 0.25s;
    -moz-transition: border 0.25s, color 0.25s;
    transition: border 0.25s, color 0.25s;
}

.button:active, .button:hover {
    border: 2px solid rgba(25, 61, 86, 1);
    color: rgba(25, 61, 86, 1);                
}

.error {
    font-family: custom;
    font-size: 1.5em;
    color: red;
    margin: 10px;
}

.pitch {
    position: relative;
    font-family: custom;
    font-size: 1.25em;
    color: rgba(25, 61, 86, 0.75);
    text-align: left;
    padding: 15px 20px;
    margin: 0px;
    top: -15px;
    line-height: 1.25em;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.exit {
    position: absolute;
    top: calc(50% - 1em);
    right: 0em;
    width: 1em;
    height: 1em;
    margin: 0em 1em;
    margin-right: 0.5em;
    padding: 1em 1em;
    background: url(../assets/img/x.png) no-repeat;
    background-size: 50% 50%;
    background-position: center;
    cursor: pointer; 
    cursor: hand;
}

.subtitle {
    font-weight: bold;
}

.description {
    font-style: italic;
    margin: 10px 10px;
}

.underline {
    width: 100%;
    border-bottom: 2px solid rgba(25, 61, 86, 0.5);
    padding: 0px;
    margin: 0px;
}

.hashtags {
    font-size: 0.75em;
    color: rgba(25, 61, 86, 0.25);
    margin-left: 10px;
}

@media screen and (max-width: 550px) {
    .short{
        width: 92.5%;
        margin: 0px;
        padding-left: 5px;
    }

    .inputText {
        width: 92.5%;
        margin: 0px;
        padding-left: 5px;
    }

    textarea[class='inputText'] {
        width: 94%;
        padding-left: 5px;
    }
    
    .pitch{
        padding: 15px 0px;
        border-radius: 0px;
    }

    .underline {
        padding: 0px 10px;
    }

    .subtitle {
        padding: 0px 0px;
        padding-left: 10px;
    }
    
    .no-move {
        padding-left: 0px;
    }
    
    .contact-info {
        margin: 10px;
    }

    .hashtags {
        display: block;
        margin: 0px;
    }

    
    #lastcheck {
        margin-bottom: 20px;
    }
}

.hidden {
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.invisible {
    opacity: 0;
}

.progress {
    position: fixed;
    width: 0%;
    height: 3px;
    top: 0;
    background-color: rgba(25, 61, 86, 1);
    
    -webkit-transition: width 0.5s, background-color 0.5s;
    -ms-transition: width 0.5s, background-color 0.5s;
    -moz-transition: width 0.5s, background-color 0.5s;
    transition: width 0.5s, background-color 0.5s;
}

.loading {
    position: relative;
    display: table;
    margin: 20% auto;
}

.space {
    position: relative;
    display: table;
    margin: 0px auto;
}

.bubble {
    position: relative;
    float: left;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin: 1em 1em;
    background-color: rgba(25, 61, 86, 1);
    opacity: 0.25;
    
    -webkit-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}