@import "helpers/placeholders.scss";

$background-color: #efefef;
$highlight-color: #e2d8d6;
$small-text-color: #335a81;
$large-text-color: #042449;
$pop-color: #BF4D42;

$font-fam: 'Open Sans', sans-serif;

html {
    background: $background-color;
    margin:0;
    padding:0;
    font-family: $font-fam;
    font-size: 1vmax;
}

.jumbotron {
    background-color: $background-color;
    color: $large-text-color;
    font-size: 30rem;
    margin-bottom: 0;
}

#side-info {
    display: none;
    background-color: $large-text-color;
    color: white;
    position: fixed;
    z-index: 3;
    height: 300rem;
    left: 30%;
    top: 0%;
    width: 100rem;
    opacity: 0.85;
    padding: 0;
    ul {
        padding: 0;
    }
    ul li {
        position: relative;
        top: 10%;
        font-size: 4rem;
        list-style-type: none;
        padding: 1rem 5rem;
        margin: 0;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: $small-text-color;
        }
    }
    .apply {
        color: $pop-color;
    }
}

#header {
    background-color: $background-color;
    background-image: url("../assets/headerImage.png");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 65rem;
    width: 100%;

    .applyButton {
        position: relative;
        left: 40%;
        top: 40rem;
        padding: 0.5rem;
        background-color: $background-color;
        width: 15rem;
        @extend %center;
        border-radius: 5%;
        transform: scale(0.85);
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
        &:hover {
            transform: scale(1);
            background-color: $pop-color;
            color: #FFFF;
            cursor: pointer;
        }
    }
}

#ham-container {
    @media screen and (min-width: 800px) {
        display: none;
    }
    z-index: 5;
    position: relative;
    right: 5rem;
    display: inline-block;
    cursor: pointer;
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

}

.change {

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
        z-index: 4;
        background-color: white!important;
    }

    .bar2 {opacity: 0;}

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: white!important;
    }
}

#slider-container {
    @media screen and (max-width: 800px) {
        display: none;
    }
    width: 100%;
    position: relative;
    right: 8rem;
    position: fixed;
    top: 1.5rem;
    ul a {
        border: 3px solid $small-text-color;
        border-radius: 50%;
        margin-left: 7rem;
        width: 3rem;
        height: 0.35rem;
        padding: 0.15rem .8rem;
        .bubble {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            padding: 3rem;
            float: left;
            text-align: center;
            position: relative;
        }
        div {
            display: inline-block;
            position: relative;
            left: 33.5rem;
            color: $small-text-color;
            text-decoration: none;
            font-size: 1.5rem;
            bottom: 1rem;
        }

    }
    ul .filled {
        background-color: $small-text-color;
    }
    ul #moose-mark {
        @media screen and (max-width: 1000px) {
            left: 43rem;
        }
        border: 3px solid $small-text-color;
        z-index: 4;
        width: 0;
        display: inline;
        position: absolute;
        top: 0.5rem;
        left: 41rem;
    }
}

.navbar, .navbar-default {
    z-index: 3;
    background-color: #FFFF;
    width: 100%;
    position: fixed;
    height: 6rem;
    .nav-item {
        a {
            color: $small-text-color;
            font-size: 1.5rem;
            box-shadow: 0px 0.5rem;
            &:hover, &:focus {
                background-color: $small-text-color;
                color: #FFFF;
                box-shadow: 0px 0.5rem $small-text-color;
                &:after {
                    transform: scaleY(1);
                }
            }
            transition: color .1s ease-out;
            z-index: 1;
            &:after {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform: scaleY(0);
                transform-origin: bottom center;
                background: red;
                z-index: -1;
                transition: transform 0.3s;
            }

        }
        display: block;
        padding: 0 .5rem;

        position: relative;
        cursor: pointer;
    }

    .navbar-toggler-icon {
        background-color: $highlight-color;
        border-radius: 0.2rem;
        border: 1px solid $pop-color;
        color: $pop-color;
    }
    .navbar-brand {
        color: $pop-color;
    }

    #navbar-logo {
        background-image: url("../assets/medhacks-without-cross.png");
        width: 20rem;
        height: 4rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .applyButton {
        @media screen and (max-width: 800px){
            display: none;
        }
        margin-right: 2rem;
        padding: 0.5rem;
        color: #FFFF;
        background-color: $pop-color;
        width: 15rem;
        @extend %center;
        border-radius: 0.5rem;
        transform: scale(0.85);
        transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out;
        &:hover {
            transform: scale(1);
            background-color: $background-color;
            color: black;
            cursor: pointer;
        }
    }
}

.header-text-actions {
    margin-top: 24px;
    text-align: center;
}

.header-text-action {
    border: 3px solid #fff;
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    margin-right: 18px;
    padding: 14px 30px;
    transform: scale(.925);
    transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out;
}

#basicInfo {
    h2 {
        color: $large-text-color;
    }
    #infoContainer {
        p {
            position: relative;
            padding-top: 1rem;
            top: 7rem;
            left: 10rem;
            width: 80%;
            color: #ffff;
            font-family: $font-fam;
            font-size: 1.5rem;
            line-height: 3rem;
            @extend %center;
        }
        width: 100%;
        height: 30rem;
        margin: 0% 0%;
        background-color: $small-text-color;
        @extend %center;
        position: relative;
    }
    background-color: $background-color;

}

#challenges {
  h2 {
      color: $large-text-color;
      padding-bottom: 4rem;
      font-size: 3rem;
  }
  p {
      width: 60%;
      margin: 0% 21%;
      padding-top: 1rem;
      color: $small-text-color;
  }
  background-color: $background-color;
  .track-container {
      @extend %center;
        float: none;
        margin-left: 10%;
        display: grid;
        width: 80%;
        height: 50%;
        grid-template-areas: "track1 track2 track3";
        -webkit-grid-column-gap: 3rem;
        -moz-grid-column-gap: 3rem;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        padding-bottom: 5%;
        background-color: $background-color;
      .track {
          border: 3px solid $small-text-color;
          border-radius: 3rem;
          padding: 3rem;

          img {
              width: 10rem;
              height: 10rem;
          }

          #track1 {
              grid-area: track1;
          }

          #track2 {
              grid-area: track2;
          }
          #track3 {
              grid-area: track3;
          }

          &:hover {
              border-color: $pop-color;
              cursor: pointer;
          }
      }
  }

  .black-overlay {
      position: fixed; /* Sit on top of the page content */
      display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.7); /* Black background with opacity */
      z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
      cursor: pointer; /* Add a pointer on hover */
  }

  .track-info {
      z-index: 4;
      background-color: #ffff;
      width: 70%;
      height: 70%;
      @extend %center;
      display: none;
      position: fixed;
      box-sizing: border-box;
      background-color: #FFFFFF;
      top: 15%;
      left: 15%;
      border-radius: 3rem;
  }
}

#logistics {

    h2 {
        font-size: 4rem;
        padding-bottom: 1.5rem;
    }
    p {
      width: 60%;
      margin: 0% 21%;
      padding-top: 1rem;
      color: $small-text-color;

    }
    background-color: $background-color;

    .scheduleContainer {
        width: 63%;
        @extend %center;
        position: relative;
        left: 20%;
        font-size: 2rem;

        @media screen and (max-width: 1080px) {
          .nav-nav-tabs {
              display:none;
          }
          .dropdown {
            display: inline-block;
          }
          .dropdown-content {
            display:none;
          }
          .dropdown:hover .dropdown-content {
            display: block;
          }
          .nav-dropdown:hover > a {
              color: #FFFF;
              background-color: $pop-color;
              padding: 0rem;
              text-align: center;
              vertical-align: middle;
              border: 1px solid black;
              border-collapse: collapse;
          }
          a {
              padding: 1rem;
              text-decoration: none;
              color: black;
          }
          .active {
              background-color: $pop-color;
              color: #FFFF;
              padding: 0.43rem 1.1rem;
          }
          li {
              list-style-type: none;
              padding: 0rem;
              text-align: center;
              vertical-align: middle;
              border: 1px solid black;
              border-collapse: collapse;
              a {
                  padding: 5rem 1rem;
                  text-decoration: none;
                  color: black;
              }
          }
        }
        @media screen and (min-width: 1080px) {
          .dropdown-content {
            display:none;
          }
          .dropdown {
            display: none;
          }
          .nav-nav-tabs {
            display:inline;
          }
          .active {
              background-color: $pop-color;
              color: #FFFF;
              padding: 0.43rem 1.1rem;
          }
          li {
              list-style-type: none;
              padding: 0rem;
              text-align: center;
              vertical-align: middle;
              border: 1px solid black;
              border-collapse: collapse;
              a {
                  padding: 5rem 1rem;
                  text-decoration: none;
                  color: black;
              }
          }
        }


        table {
            margin-top: 10%;
            margin-bottom: 10%;
            background-color: #f8f9fa;
            width: 100%;
            position: relative;
            table-layout: fixed;
            th, tr {
                font-family: $font-fam;
                font-size: 1.5rem;
                font-style: normal;
                color: $small-text-color;
                border: 3px solid black;
            }
        }

    }
}

.marginFormat {
    background-color: $background-color;
    height:200px;
    width:100%;
}


#faq {
    .faq-container {
        width: 60%;

        position: relative;
        left: 20%;
        font-size: 2rem;

        ul {
            border: none;
            .active {
                background-color: $pop-color;
                color: #FFFF;
                padding: 0.43rem 5.5rem;
            }
            li {
                @extend %center;
                border: 1px solid black;
                border-collapse: collapse;
                a {
                    padding: 0rem 5.5rem;
                    text-decoration: none;
                    color: black;
                    font-size: 2.5rem;
                }
            }

        }

        .faq-holder {
            background-color: #f9f9f9;
            border-radius: 3px;
            box-shadow: 0 0 6px 1px rgba(0, 0, 0, .05);
            margin: 16px 0;
            padding: 10px;
            width: 95%;
            overflow: hidden;
            height: 7rem;
            .faq-question {
                margin: 0px;
                padding: 0px 0px 10px 0px;
                display: inline-block;
                cursor: pointer;
                font-weight: bold;
                color: #193d56;
                margin: 0 0 16px;
            }
            .faq-answer-container {
                height: 0px;
                overflow: hidden;
                padding: 0px;
                margin: 0;
                font-size: 16px;
                line-height: 24px;
                background-color: #c6c9ce
                margin: 4px 0;
                text-align: left;
            }
        }
    }
}
