#header .description, #header .applyButton, .navbar .applyButton, .navbar-default .applyButton, #basicInfo #infoContainer p, #basicInfo #infoContainer, #aboutSection h2, #challenges .track-container, #challenges .track-info, #logistics .scheduleContainer, #logistics .scheduleContainer ul li, #logistics .scheduleContainerDropdown, #faq h2, #faq .faq-container ul li, #faq .faq-dropdown {
  text-align: center;
  vertical-align: middle; }

@font-face {
  font-family: custom;
  src: url(../assets/Raleway-Light.ttf); }
html, body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: custom;
  font-size: 1vmax; }

.jumbotron {
  background-color: #efefef;
  color: #042449;
  font-size: 30rem;
  margin-bottom: 0; }

#side-info {
  display: none;
  background-color: #042449;
  color: white;
  position: fixed;
  z-index: 3;
  height: 300rem;
  left: 30%;
  top: 0%;
  width: 100rem;
  opacity: 0.85;
  padding: 0; }
  #side-info ul {
    padding: 0; }
  #side-info ul li {
    position: relative;
    top: 10%;
    font-size: 4rem;
    list-style-type: none;
    padding: 1rem 5rem;
    margin: 0;
    cursor: pointer; }
    #side-info ul li:hover {
      background-color: #fff;
      color: #193f55; }
  #side-info .apply {
    color: #BF4D42; }

#header {
  background-color: #efefef;
  background-image: url("../assets/superNewHeaderImage.jpg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  height: 65rem;
  width: 100%; }
  @media screen and (min-width: 500px) {
    #header .frosty-title {
      width: 60rem;
      position: relative;
      right: 7rem;
      bottom: 17rem; }
    #header .description {
      font-size: 1.5rem;
      color: #BF4D42;
      position: relative;
      bottom: 20rem;
      width: 50%;
      left: 25%;
      margin-right: 0; } }
  @media screen and (max-width: 500px) {
    #header .frosty-title {
      width: 30rem;
      position: relative;
      right: -12rem;
      bottom: 20rem; }
    #header .description {
      font-size: 1rem;
      color: #BF4D42;
      position: relative;
      bottom: 28rem;
      left: 17rem;
      width: 40rem; } }
  @media screen and (max-width: 478px) {
    #header {
      background-image: url("../assets/mobile.png");
      height: 115rem; }
      #header .applyButton {
        top: 62rem !important;
        left: 38% !important; } }
  #header .applyButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 35rem;
    padding: 0.5rem;
    background-color: #efefef;
    width: 225px;
    border-radius: 5%;
    transform: scale(0.85);
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    #header .applyButton:hover {
      transform: scale(1);
      background-color: #BF4D42;
      color: #FFFF;
      cursor: pointer; }

#ham-container {
  z-index: 5;
  position: relative;
  right: 5rem;
  display: inline-block;
  cursor: pointer; }
  @media screen and (min-width: 800px) {
    #ham-container {
      display: none; } }
  #ham-container .bar1, #ham-container .bar2, #ham-container .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  z-index: 4;
  background-color: white !important; }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: white !important; }

#slider-container {
  position: relative;
  left: 21.5rem;
  position: fixed;
  top: 1.5rem; }
  @media screen and (max-width: 1000px) {
    #slider-container {
      display: none; } }
  #slider-container ul a {
    border: 2px solid #193f55;
    border-radius: 10px;
    margin-left: 7rem;
    padding: 8px;
    width: 2.5px;
    height: 2.5px;
    display: inline-block; }
    #slider-container ul a .bubble {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      padding: 1rem;
      float: left;
      text-align: center;
      position: relative;
      font-size: 1.25rem; }
      #slider-container ul a .bubble #homeBubP {
        position: relative;
        right: 17.4rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #aboutBubP {
        position: relative;
        right: 38.7rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #tracksBubP {
        position: relative;
        right: 41.7rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #logBubP {
        position: relative;
        right: 45.2rem;
        bottom: 0.5rem; }
      #slider-container ul a .bubble #faqBubP {
        position: relative;
        right: 48.2rem;
        bottom: 0.5rem; }
    #slider-container ul a div {
      display: inline-block;
      position: relative;
      left: 15rem;
      color: #193f55;
      text-decoration: none;
      top: 0.5rem; }
  #slider-container ul .filled {
    background-color: #193f55; }
  #slider-container ul #moose-mark {
    border: 3px solid #193f55;
    z-index: 4;
    width: 0;
    display: inline;
    position: fixed;
    top: 0.5rem;
    left: 11rem; }

.navbar, .navbar-default {
  z-index: 3;
  background-color: #FFFF;
  width: 100%;
  position: fixed;
  height: 6rem; }
  .navbar .nav-item, .navbar-default .nav-item {
    display: block;
    padding: 0 .5rem;
    position: relative;
    cursor: pointer; }
    .navbar .nav-item a, .navbar-default .nav-item a {
      color: #193f55;
      font-size: 1.5rem;
      box-shadow: 0px 0.5rem;
      transition: color .1s ease-out;
      z-index: 1; }
      .navbar .nav-item a:hover, .navbar .nav-item a:focus, .navbar-default .nav-item a:hover, .navbar-default .nav-item a:focus {
        background-color: #193f55;
        color: #FFFF;
        box-shadow: 0px 0.5rem #193f55; }
        .navbar .nav-item a:hover:after, .navbar .nav-item a:focus:after, .navbar-default .nav-item a:hover:after, .navbar-default .nav-item a:focus:after {
          transform: scaleY(1); }
      .navbar .nav-item a:after, .navbar-default .nav-item a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: red;
        z-index: -1;
        transition: transform 0.3s; }
  .navbar .navbar-toggler-icon, .navbar-default .navbar-toggler-icon {
    background-color: #e2d8d6;
    border-radius: 0.2rem;
    border: 1px solid #BF4D42;
    color: #BF4D42; }
  .navbar .navbar-brand, .navbar-default .navbar-brand {
    color: #BF4D42; }
  .navbar #navbar-logo, .navbar-default #navbar-logo {
    background-image: url("../assets/logos/medhacks-without-cross.png");
    width: 25rem;
    height: 4rem;
    background-size: contain;
    background-repeat: no-repeat; }
  .navbar .applyButton, .navbar-default .applyButton {
    margin-right: 5.5rem;
    padding: 0.5rem;
    color: #FFFF;
    background-color: #BF4D42;
    width: 15rem;
    border-radius: 0.5rem;
    transform: scale(0.85);
    transition: 0.2s background-color ease-out, .2s border-color ease-out, .2s transform ease-out; }
    @media screen and (max-width: 800px) {
      .navbar .applyButton, .navbar-default .applyButton {
        display: none; } }
    .navbar .applyButton:hover, .navbar-default .applyButton:hover {
      transform: scale(1);
      background-color: #efefef;
      color: black;
      cursor: pointer; }

.header-text-actions {
  margin-top: 24px;
  text-align: center; }

.header-text-action {
  border: 3px solid #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  margin-right: 18px;
  padding: 14px 30px;
  transform: scale(0.925);
  transition: .2s background-color ease-out, .2s color ease-out, .2s transform ease-out; }

#basicInfo {
  background-color: #efefef; }
  #basicInfo h2 {
    color: #042449; }
  #basicInfo #infoContainer {
    width: 100%;
    height: 30rem;
    margin: 0% 0%;
    background-color: #193f55;
    position: relative; }
    #basicInfo #infoContainer p {
      position: relative;
      padding-top: 1rem;
      top: 7rem;
      left: 10rem;
      width: 80%;
      color: #ffff;
      font-size: 1.5rem;
      line-height: 3rem; }

#aboutSection {
  background-color: #efefef;
  margin-bottom: 0;
  padding-top: 5%; }
  #aboutSection h2 {
    color: #042449;
    padding-bottom: 4rem;
    font-size: 3rem; }
  #aboutSection p {
    color: #193f55;
    font-size: 1.5rem;
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 0; }

#challenges {
  background-color: #efefef; }
  #challenges h2 {
    color: #042449;
    padding-bottom: 4rem;
    font-size: 3rem; }
  #challenges img {
    width: 75%;
    position: relative;
    bottom: 15rem;
    left: 5%; }
  #challenges p {
    width: 80%;
    margin: 0% 10%;
    padding-top: 1rem;
    color: #193f55;
    font-size: 1.5rem;
    text-align: center; }
  #challenges .track-container {
    float: none;
    margin-left: 10%;
    display: grid;
    width: 80%;
    height: 50%;
    grid-template-areas: "track1 track2 track3";
    -webkit-grid-column-gap: 3rem;
    -moz-grid-column-gap: 3rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 5%;
    background-color: #efefef; }
    #challenges .track-container .track {
      border: 3px solid #193f55;
      border-radius: 3rem;
      padding: 3rem; }
      #challenges .track-container .track img {
        width: 10rem;
        height: 10rem; }
      #challenges .track-container .track #track1 {
        grid-area: track1; }
      #challenges .track-container .track #track2 {
        grid-area: track2; }
      #challenges .track-container .track #track3 {
        grid-area: track3; }
      #challenges .track-container .track:hover {
        border-color: #BF4D42;
        cursor: pointer; }
  #challenges .black-overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Black background with opacity */
    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */ }
  #challenges .track-info {
    z-index: 4;
    background-color: #ffff;
    width: 70%;
    height: 70%;
    display: none;
    position: fixed;
    box-sizing: border-box;
    background-color: #FFFFFF;
    top: 15%;
    left: 15%;
    border-radius: 3rem; }

#logistics {
  background-color: #efefef; }
  #logistics h2 {
    font-size: 3rem;
    padding-bottom: 1.5rem; }
  #logistics p {
    width: 60%;
    margin: 0% 21%;
    padding-top: 1rem;
    color: #193f55; }
  #logistics .scheduleContainer {
    width: 59.8%;
    position: relative;
    left: 20%;
    font-size: 1.89rem;
    padding-bottom: 0.1rem; }
    @media screen and (max-width: 1000px) {
      #logistics .scheduleContainer {
        display: none; } }
    #logistics .scheduleContainer ul {
      border: none;
      width: 70vw; }
      #logistics .scheduleContainer ul .activeLi {
        background-color: #BF4D42;
        color: #FFFF;
        border: none;
        border: 1px solid black; }
        #logistics .scheduleContainer ul .activeLi a {
          color: #FFF; }
      #logistics .scheduleContainer ul li {
        background-color: #ffff;
        padding: 0rem;
        border: 1px solid black;
        border-collapse: collapse; }
        #logistics .scheduleContainer ul li a {
          padding: 1rem;
          text-decoration: none;
          color: black; }
  #logistics .scheduleContainerDropdown {
    width: 60%;
    position: relative;
    left: 20%;
    font-size: 2rem; }
    @media screen and (min-width: 1000px) {
      #logistics .scheduleContainerDropdown {
        display: none; } }
    #logistics .scheduleContainerDropdown .dropdown-content {
      position: relative;
      padding-bottom: 0; }
    #logistics .scheduleContainerDropdown .dropdown .select-container {
      right: 25%; }
  #logistics table {
    margin-top: 5%;
    margin-bottom: 4%;
    background-color: #efefef;
    width: 80vw;
    position: relative;
    table-layout: fixed;
    right: 15%;
    border-style: hidden; }
    #logistics table th, #logistics table tr {
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
      color: #193f55; }
    #logistics table td, #logistics table th {
      border: 1px solid black; }
    #logistics table tr:first-child {
      background-color: #193f55; }
      #logistics table tr:first-child th {
        color: #fff; }

.marginFormat {
  background-color: #efefef;
  height: 200px;
  width: 100%; }

footer {
  background-color: #193f55;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  height: 20rem; }
  footer .copyright {
    position: relative;
    float: right;
    right: 2%;
    top: 6%;
    margin-bottom: 0; }
  footer .column1 {
    float: left;
    margin: 0 1%;
    width: 31%;
    padding-right: 10%;
    margin-top: 02%;
    position: relative;
    left: 8%; }
    footer .column1 img {
      position: relative;
      right: 1.5vw; }
    footer .column1 p {
      margin-top: 1.5rem; }
  footer .column2 {
    float: left;
    margin: 3% 1%;
    width: 11%;
    margin-left: 30%; }
    footer .column2 ul {
      margin-top: 3.5rem;
      padding: 0;
      list-style-type: none;
      color: #efefef;
      font-size: 1rem;
      padding-left: 0.5rem; }
      footer .column2 ul a {
        text-decoration: none;
        color: #efefef; }
  footer .column3 {
    float: left;
    margin: 3% 1%;
    width: 11%;
    margin-left: 4%; }
    footer .column3 ul {
      margin-top: 3.5rem;
      padding: 0;
      list-style-type: none;
      color: #efefef;
      font-size: 1rem; }

#faq {
  background-color: #efefef;
  margin-bottom: none; }
  #faq h2 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    width: 100%; }
  #faq .faq-container {
    width: 60%;
    background-color: #efefef;
    position: relative;
    left: 20%;
    font-size: 1rem; }
    @media screen and (max-width: 1000px) {
      #faq .faq-container {
        display: none; } }
    #faq .faq-container ul {
      border: none;
      margin-bottom: 3rem;
      width: 60vw;
      position: relative;
      left: 6%; }
      #faq .faq-container ul .activeLi {
        background-color: #BF4D42; }
        #faq .faq-container ul .activeLi a {
          color: #FFFF !important; }
      #faq .faq-container ul li {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: #fff; }
        #faq .faq-container ul li a {
          padding: 0rem 5.5rem;
          text-decoration: none;
          color: black;
          font-size: 1.89rem; }
  #faq .faq-dropdown {
    width: 60%;
    position: relative;
    left: 20%;
    font-size: 2rem; }
    @media screen and (min-width: 1000px) {
      #faq .faq-dropdown {
        display: none; } }
    #faq .faq-dropdown .dropdown-content {
      position: relative;
      padding-bottom: 0; }
    #faq .faq-dropdown .dropdown .select-container {
      right: 25%; }
    #faq .faq-dropdown .dropdown {
      margin-bottom: 3%; }
  #faq .faq-holder {
    width: 80vw;
    position: relative;
    right: 15%;
    border-collapse: collapse; }
    #faq .faq-holder h3 {
      color: #193d56;
      margin: 0 0 16px;
      text-align: left;
      padding-top: 20px;
      padding-left: 10px; }
    #faq .faq-holder h3:after {
      background-color: #D0D0D0;
      content: '';
      display: block;
      height: 1px;
      margin-top: 8px;
      width: 100%; }
    #faq .faq-holder p {
      font-size: 16px;
      line-height: 24px;
      margin: 4px 0;
      width: 100%;
      padding: 10px;
      margin-bottom: 0; }

@media screen and (min-width: 800px) {
  .beating-heart {
    position: relative;
    top: 13rem;
    left: 75rem;
    -webkit-animation: heart-beat 1.5s infinite;
    animation: heart-beat 1.5s infinite;
    width: 15rem; } }
@media screen and (max-width: 800px) {
  .beating-heart {
    display: none; } }

@-o-keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
@-moz-keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
@-webkit-keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
@keyframes heart-beat {
  0% {
    transform: scale(0.8);
    opacity: .95; }
  20% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.75);
    opacity: .85; } }
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .5em;
  background: #efefef;
  border: none;
  border-radius: 3px;
  padding: 1em 2em 1em 1em;
  font-size: 1em; }

.select-container {
  position: relative;
  display: inline; }

.select-container:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none; }

.select-container:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: .3em;
  right: .75em;
  border-top: 8px solid black;
  opacity: 0.5; }

select::-ms-expand {
  display: none; }

/*# sourceMappingURL=main.css.map */
